<div class="container" style="text-align: center;">
    <h1 mat-dialig-title>Add Customer Account</h1>
    <form [formGroup]="addCustomerForm" (ngSubmit)="addCustomer()">
        <div class="flex-container">
            <div class="loading-shade" *ngIf="isDataLoading">
                <mat-spinner *ngIf="isDataLoading"></mat-spinner>
            </div>
            <mat-dialog-content>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Customer Name</mat-label>
                        <input matInput required formControlName="customerName">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Customer Type</mat-label>
                        <mat-select required formControlName="customerType">
                            <mat-option *ngFor="let item of types" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Administrator Email</mat-label>
                        <input matInput type="email" required formControlName="adminEmail">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Subaccount</mat-label>
                        <input matInput required formControlName="subaccountName">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Subaccount Administrator Email</mat-label>
                        <input matInput type="email" required formControlName="subaccountAdminEmail">
                    </mat-form-field>
                </div>
                <div>
                    <section class="text-left">
                        <mat-checkbox color="primary" formControlName="testCustomer">Test Customer</mat-checkbox>
                        <small class="text-muted d-block">(For development and testing)</small>
                    </section>
                </div>
            </mat-dialog-content>
        </div>
        <!-- <div class="btn-flex-container"> -->
        <mat-dialog-actions>
            <button type="button" id="cancelBtn" mat-stroked-button (click)="onCancel()">Cancel</button>
            <button id="submitBtn" mat-raised-button color="primary" [disabled]="addCustomerForm.invalid" type="submit">Submit</button>
            <!-- </div> -->
        </mat-dialog-actions>
    </form>
</div>