table {
  width: 100%;
}

mat-form-field {
  width: 40%;
}

.text-right {
  text-align: right !important;
}
.clickable-item {
  cursor: pointer;
  color: darkblue;
  text-decoration: underline !important;
}
