<div class="container-fluid dashboard-content">
    <main>
        <h1>Customers</h1>
    </main>
    <div style="float: right;">
        <button *lcCheckAccessFor="'addCustomer'" mat-raised-button (click)="addCustomerAccount()">Add Customer</button>
        <button *lcCheckAccessFor="'addSubaccount'" mat-raised-button (click)="addSubaccount()">Add Subaccount</button>
    </div>
    <section class="table-section">
        <div class="table-container mat-elevation-z8" [style.max-height.px]="tableMaxHeight">
            <app-data-table
                [tableData]="customerList"
                [tableColumns]="displayedColumns" 
                [isFilterable]="false"
                [isPageable]="false"
                [isLoadingResults]="isLoadingResults"
                [isRequestCompleted]="isRequestCompleted"
                [paginationSizes]="[5,10,20]"
                [defaultPageSize]="5"
                (sort)="sortData($event)"
                [rowActionIcon]="actionMenuOptions.length>0&&'more_vert'"
                (rowAction)="rowAction($event)"
                [actionMenuList]="actionMenuOptions"
                (clickableRow)="columnAction($event)"
                >
            </app-data-table>
        </div>
    </section>
</div>
