.dashboard-content {
  padding: 20px;
}
table {
  width: 100%;
}
.table-section {
  margin-top: 5%;
}
th.mat-sort-header-sorted {
  color: black;
}
.clickable-item {
  cursor: pointer;
  color: darkblue;
  text-decoration: underline !important;
}
.table-container {
  position: relative;
  min-height: 200px;
  overflow: auto;
}
.no-data-found {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 50px;
}
