<div class="container">
    <h1 mat-dialig-title>{{data?.title}}</h1>
    <div class="flex-container">
        <mat-dialog-content>
            <h3> {{data?.message}}</h3>
        </mat-dialog-content>
    </div>
    <mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="false">
            {{data?.cancelCaption}}
        </button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true">
            {{data?.confirmCaption}}
        </button>
    </mat-dialog-actions>
</div>