<div class="container" style="text-align: center;">
    <h1 mat-dialig-title>Edit tekToken Consumption</h1>
    <form [formGroup]="updateForm" (ngSubmit)="submit()">
        <div class="flex-container">
            <div class="loading-shade" *ngIf="isDataLoading">
                <mat-spinner *ngIf="isDataLoading"></mat-spinner>
            </div>
            <mat-dialog-content>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Date</mat-label>
                        <input matInput #consDate [matDatepicker]="picker" [min]="startDate" [max]="endDate" required
                            formControlName="consDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div>
                    <section>
                        <mat-checkbox class="checkbox-margin" *ngFor="let day of days; let i = index"
                            [color]="'primary'" [checked]="day.used" [disabled]="day.disabled" (change)="setChecked($event.checked, i)">
                            {{day.name}} </mat-checkbox>
                    </section>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Project</mat-label>
                        <input type="text" placeholder="Pick one" aria-label="projectAutoComplete" matInput formControlName="project"
                            [matAutocomplete]="projects">
                        <mat-autocomplete autoActiveFirstOption #projects="matAutocomplete" [displayWith]="displayFnProject">
                            <mat-option *ngFor="let project of filteredProjects | async" [value]="project">
                                {{project.name}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="isInvalid('project')">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Vendor</mat-label>
                        <input type="text" placeholder="Pick one" aria-label="vendorAutoComplete" matInput formControlName="vendor"
                            [matAutocomplete]="vendors">
                        <mat-autocomplete autoActiveFirstOption #vendors="matAutocomplete" (optionSelected)="onChangeVendor($event.option.value)" [displayWith]="displayFnVendor">
                            <mat-option *ngFor="let item of filteredVendors | async" [value]="item">
                                {{item.vendor}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="isInvalid('vendor')">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Device</mat-label>
                        <input type="text" placeholder="Pick one" aria-label="modelsAutoComplete" matInput formControlName="device"
                            [matAutocomplete]="modelsList">
                        <mat-autocomplete autoActiveFirstOption #modelsList="matAutocomplete" [displayWith]="displayFnDevice">
                            <mat-option *ngFor="let device of filteredModels | async" [value]="device">
                                {{device.product}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="isInvalid('device')">{{getErrorMessage()}}</mat-error>
                    <mat-hint *ngIf="models.length===0">Please select a Vendor first</mat-hint>
                    </mat-form-field>
                </div>
            </mat-dialog-content>
        </div>
        <!-- <div class="btn-flex-container"> -->
        <mat-dialog-actions>
            <button mat-stroked-button type="button" (click)="onCancel()">Cancel</button>
            <button mat-raised-button color="primary" [disabled]="!updateForm.valid || disableSumbitBtn()"
                type="submit">Submit</button>
            <!-- </div> -->
        </mat-dialog-actions>
    </form>
</div>