<div class="container-fluid content">
    <main>
        <div class="row">
            <div class="col">
                <button mat-stroked-button (click)="goToDashboard()">Back</button>
            </div>
            <div class="col">
                <h1>{{currentCustomer.name}} - {{currentCustomer.subaccountName}}</h1>
            </div>
            <div class="col">
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle *lcCheckAccessFor="'addLicense'" value="add-new-license" (change)="onChangeToggle($event)">
                        Add tekVizion 360 Package
                    </mat-button-toggle>
                    <mat-button-toggle *lcCheckAccessFor="'addLicenseConsumption'" value="add-license-consumption" [disabled]="!isLicenseListLoaded" (change)="onChangeToggle($event)">
                        Add tekToken Consumption
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
    </main>
    <!-- license summary section -->
    <form [formGroup]="licenseForm">
        <div>
            <mat-form-field appearance="outline" class="example-form-field">
                <mat-label>License Period</mat-label>
                <mat-select formControlName="licenseId" (valueChange)="onChangeLicense($event)">
                    <mat-option *ngFor="let item of licensesList" [value]="item.id">
                        {{item.startDate}} - {{item.renewalDate}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
    <h2>tekVizion 360 Package Consumption Summary</h2>
    <section>
        <div class="row">
            <div class="col-6">
                <div class="mat-elevation-z8">
                    <app-data-table [tableData]="data" [tableColumns]="tekTokensSummaryColumns" [isFilterable]="false"
                        [isPageable]="false" [isLoadingResults]="isLicenseSummaryLoadingResults"
                        [isRequestCompleted]="isLicenseSummaryRequestCompleted" [paginationSizes]="[5,10,20]"
                        [defaultPageSize]="5">
                    </app-data-table>
                </div>
            </div>
            <div class="col-6">
                <div class="mat-elevation-z8">
                    <app-data-table [tableData]="data" [tableColumns]="automationSummaryColumns" [isFilterable]="false"
                        [isPageable]="false" [isLoadingResults]="isLicenseSummaryLoadingResults"
                        [isRequestCompleted]="isLicenseSummaryRequestCompleted" [paginationSizes]="[5,10,20]"
                        [defaultPageSize]="5">
                    </app-data-table>
                </div>
            </div>
        </div>
    </section>
    <br>
    <!-- Detailed Consumption for selection -->
    <h2> tekTokens Consumption</h2>
    <section>
        <!-- filters -->
        <div style="display: flex;">
            <div class="col-4">
                <mat-radio-group>
                    <mat-radio-button color="primary" value="period" [checked]="aggregation === 'period'"
                        (change)="getMultipleChoiceAnswer($event)">License Period</mat-radio-button>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <mat-radio-button color="primary" value="week" [checked]="aggregation === 'week'" [disabled]="!isLicenseListLoaded"
                                (change)="getMultipleChoiceAnswer($event)">Week</mat-radio-button>
                            <br>
                            <mat-radio-button color="primary" value="month" [checked]="aggregation === 'month'" [disabled]="!isLicenseListLoaded"
                                (change)="getMultipleChoiceAnswer($event)">Month</mat-radio-button>
                            <br>
                        </div>
                        <div class="col-8">
                            <mat-form-field appearance="outline">
                                <mat-label>{{getDatePickerPlaceHolder()}}</mat-label>
                                <mat-date-range-input [formGroup]="range" [rangePicker]="picker" [min]="startDate" [max]="endDate">
                                <input formControlName="start" matStartDate placeholder="Start date" [readonly]="true"> 
                                <input formControlName="end" matEndDate placeholder="End date" [readonly]="true" (dateChange)="setWeek()">
                                </mat-date-range-input>
                                <mat-datepicker-toggle [disabled]="aggregation === 'period'" matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker lcDateRange [minDate]="startDate" [maxDate]="endDate" [month]="aggregation === 'month'" 
                                    #picker [startView]="aggregation === 'month'?'year':'month'" (monthSelected)="setMonthAndYear($event, picker)">
                                </mat-date-range-picker>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-radio-group>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <mat-form-field appearance="outline">
                    <mat-label>Project</mat-label>
                    <mat-select [(value)]="selectedProject" (valueChange)="getProject($event)">
                        <mat-option value="">All</mat-option>
                        <mat-option *ngFor="let item of projects" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <mat-form-field appearance="outline">
                    <mat-label>Consumption Type</mat-label>
                    <mat-select (valueChange)="getType($event)">
                        <mat-option value="">All</mat-option>
                        <mat-option value="Configuration">Configuration</mat-option>
                        <mat-option value="AutomationPlatform">Automation Platform</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <div class="overflow-auto mat-elevation-z8">
                    <app-data-table [tableData]="tokenConsumptionData" [tableColumns]="tekTokenConsumptionColumns"
                        [isFilterable]="false" [isPageable]="false"
                        [isLoadingResults]="isDetailedConsumptionSupplementalLoadingResults"
                        [isRequestCompleted]="isDetailedConsumptionSupplementalRequestCompleted">
                    </app-data-table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <div class="table-container mat-elevation-z8">
                    <app-data-table [tableData]="weeklyConsumptionData" [tableColumns]="detailedConsumptionColumns"
                                    [isFilterable]="false" [isPageable]="false"
                                    [isLoadingResults]="isDetailedConsumptionSupplementalLoadingResults"
                                    [isRequestCompleted]="isDetailedConsumptionSupplementalRequestCompleted" [paginationSizes]="[5,10,20]"
                                    [defaultPageSize]="5">
                    </app-data-table>
                </div>
            </div>
            <div class="col-8">
                <div class="table-container mat-elevation-z8">
                    <app-data-table [tableData]="detailedConsumptionData"
                                    [tableColumns]="detailedConsumptionSummaryColumns" [isFilterable]="false" [isPageable]="true"
                                    [isLoadingResults]="isDetailedConsumptionLoadingResults"
                                    [isRequestCompleted]="isDetailedConsumptionRequestCompleted" [paginationSizes]="[6, 10, 20, 50]"
                                    [defaultPageSize]="6" (sort)="sortData($event)" [rowActionIcon]="'more_vert'"
                                    (rowAction)="licConsumptionRowAction($event)"
                                    [actionMenuList]="licConsumptionActionMenuOptions" [serverSidePagination]="true"
                                    (pageChanged)="onPageChange($event)" [length]="detailedConsumptionDataLength" #detailsConsumptionTable>
                    </app-data-table>
                </div>
            </div>   
        </div>
    </section>
    <br>
    <!-- Equipment summary section -->
    <h2>Equipment Summary</h2>
    <section>
        <div class="table-container mat-elevation-z8">
            <app-data-table [tableData]="equipmentData" [tableColumns]="equipmentSummaryColumns" [isFilterable]="false"
                [isPageable]="false" [isLoadingResults]="isEquipmentSummaryLoadingResults"
                [isRequestCompleted]="isEquipmentSummaryRequestCompleted" [paginationSizes]="[5,10,20]"
                [defaultPageSize]="5" (sort)="sortDataEquipment($event)">
            </app-data-table>
        </div>
    </section>
</div>