<section class="login p-fixed d-flex bg-primary common-img-bg rsdLoginBg">
  <div class="text-center loadingLogo">
    <img src="assets/images/logo_1.png" alt="Logo">
  </div>
  <div id="content" class="fullwidth" style="margin: auto">
    <div class="expand"></div>
  </div>
  <div class="loadingPercentage text-center" style="font-size:25px; color: white">
    <span id="counter_percent">0</span>%
    <br>
    <span id="loading">Loading...</span>
  </div>
  <p class=""
    style="color:#5d858d;text-align:center;clear:both;margin:0 auto;right:0%;top:80%;position:absolute;width:100%;">
    &#169; 2022 tekVizion PVS inc. All Rights Reserved
  </p>
</section>