<div class="container" style="text-align: center;">
    <h1 mat-dialig-title>Add tekVizion 360 Package</h1>
    <form [formGroup]="addLicenseForm" (ngSubmit)="submit()">
        <div class="flex-container">
            <mat-dialog-content>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input required matInput [matDatepicker]="picker" formControlName="startDate" [max]="startDateMax" (dateChange)="onStartDateChange($event.value)">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Renewal Date</mat-label>
                        <input required matInput [matDatepicker]="renewalDatepicker" formControlName="renewalDate" [min]="renewalDateMin" (dateChange)="onRenewalDateChange($event.value)">
                        <mat-datepicker-toggle matSuffix [for]="renewalDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #renewalDatepicker></mat-datepicker>
                        <mat-error *ngIf="addLicenseForm.errors?.['renewalIsBeforeStart'] && (addLicenseForm.get('renewalDate').touched || addLicenseForm.get('renewalDate').dirty)">Renewal Date should be after the Start Date</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Type</mat-label>
                        <mat-select required formControlName="packageType" (valueChange)="onChangeType($event)">
                            <mat-option *ngFor="let item of types" [value]="item"
                                [selected]="item.name === selectedType">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Device Access tekTokens</mat-label>
                        <input required matInput formControlName="deviceLimit">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>tekTokens</mat-label>
                        <input required matInput formControlName="tokensPurchased">
                    </mat-form-field>
                </div>
            </mat-dialog-content>
        </div>
        <!-- <div class="btn-flex-container"> -->
        <mat-dialog-actions>
            <button mat-stroked-button (click)="onCancel()" type="button">Cancel</button>
            <button mat-raised-button color="primary" [disabled]="!addLicenseForm.valid" type="submit">Submit</button>
            <!-- </div> -->
        </mat-dialog-actions>
    </form>
</div>